@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: LabGrotesque, Helvetica Neue, Helvetica, Arial, sans-serif;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
padding-left: 20px;
color: #5d5c5c;
font-weight: bold;
font-size: 17px;
font-style: normal;

}
li:hover{
    color: #100f0f;
transform: scale(.96)
    ;

}
h2{
    color: #000;
}
ul{
    display: flex;
    list-style: none;
    gap: 3rem;
}
p{
    color:#333;
    font-size: 23px;
    line-height: 1.45;
    text-align: center;
}
h1{
    margin: 0;
    font-size: 50px;
    margin: 30px;
    line-height: 1.05;
}
button{
    background-color: #04DDB2;
    color:white;
    border: none;
    height: 3rem;
    width: 8rem;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
border-radius: 1000px;
transition: .2s ease-in-out;
transform: scale3d(1.05,1.05,1.05);
text-decoration: none;
cursor: pointer;
}

button:active{
    transform: scale(.98)
}
main{
justify-content: center;
align-items: center;
height: 100vh;
text-align: center;
}
img{
    align-items: center;
    border-radius: 20px;
}
span{
    color: #04DDB2;
}

.roboto-slab {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
  }
h3{
    font-size: 60px;
    font-weight: bolder;
}
.button1{
    background-color: #04DDB2;
    color:white;
    border: none;
    height: 3rem;
    width: 10rem;
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
border-radius: 1000px;
}
.button1:active{
    transform: scale(.98)
}
footer{
    color: #3b3b3b;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-count: 5;
    padding: 90px 180px;
    padding: 0 100px 100px;


    
}
ol,li{
    list-style: none;
    flex-direction: column;
   
}
img:active{
    transform: scale(.98);
    cursor: pointer;
}
